{% extends "network/layout.html" %}
{% load static %}

{% block head %}
<script src="{% static 'network/index.js' %}"></script>
{% endblock %}

{% block body %}
    <div class="div-posts">
        {% if user.is_authenticated and not request.GET.p == "f" %}
            <form class="form-newpost" action="./" method="post">
                <h3>New Post:</h3>
                <input placeholder="Title" type="text" id="input-newpost-title" name="input-newpost-title">
                <textarea name="" id="input-newpost-text" name="input-newpost-text" cols="30" rows="10"></textarea>
                <button id="input-newpost-submit">Save</button>
            </form>
        {% endif %}
        {% for post in posts %}
            <div class="div-post">
                <h4>{{ post.title }}</h4>
                {% if user.username == post.user.username %}
                    <a data-postid="{{ post.id }}" class="a-post-edit" href="#">Edit</a>
                {% endif %}
                <p class="post-text">
                    {{ post.text }}
                </p>
                <p class="css-description">{{ post.user.username }}; {{ post.time }}</p>
                {% if user.username == post.user.username %}
                    <div class="div-edit-post hidden">
                        <textarea name="textarea-edit-post{{ post.id }}" id="textarea-edit-post{{ post.id }}" cols="30" rows="10">{{ post.text }}</textarea>
                        <button data-postid="{{ post.id }}" class="button-edit-post">Save</button>
                    </div>
                {% endif %}
            </div>
        {% empty %}
            No post yet!
        {% endfor %}
    </div>
{% endblock %}