.div-comments > form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin-bottom: 30px;
}
.div-comment-header {
    border-bottom: 1px solid black;
}
.div-comment-text {
    font-style: italic;
}
h4 {
    margin-top: 30px;
}
.div-bid-winner {
    color: green;
    font-size: larger;
}
.a-watch-list {
    background-color: gray;
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 3px 10px;
    border-radius: 5px;
}
.a-watch-list:hover {
    color: white;
}