textarea {
    min-height: 400px;
}
.read {
    background-color: rgb(226, 226, 226);
}
.div-email-main {
    margin:10px 3px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 4px 10px;
    cursor: pointer;
}
.div-email-main > div {
    flex: 1
}
#email-view {
    display: flex;
    flex-direction: column;
}
#email-view-in > div {
    display: flex;
    gap:10px;
    justify-content: flex-start;
    line-height: 200%;
}
#email-view-in > div div:nth-child(1) {
    flex:1;
}
#email-view-in > div div:nth-child(2) {
    flex:10;
}