textarea {
    min-height: 400px;
}
.read {
    background-color: rgb(226, 226, 226);
}
.div-email-main {
    margin:10px 3px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 4px 10px;
    cursor: pointer;
}
.div-email-main > div {
    flex: 1
}