.form-newpost {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 15px;
    margin: 20px 30px;
}
.div-posts {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
}
.div-post {
    margin: 30px 10px;
}
.css-description {
    color: gray;
}
.div-edit-post {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    gap: 10px;
    margin-bottom: 30px;
}
.div-profile-main {
    margin:30px;
    display: flex;
    flex-direction: column;
    gap:20px;
}
.div-user-profile {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.hidden {
    display: none;
}
.p-like {
    display: flex;
    align-content: center;
    gap: 3px;
}
.po-pointer {
    cursor: pointer;
}
.po-default {
    cursor: default;
}
.red {
    color: red;
}
.pagination {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px;
}